# Project exclude paths
/venv/
/cn_dicts_temp/
/cn_dicts_dazhu/
/cn_dicts_sancang/
/cn_dicts_xh_cangjie/
.DS_Store

**/.idea/
.vscode/
dist/
*.zip

build/
tmp/**
*.userdb/
sync/**
!sync/
!sync/*/
!sync/*/*.userdb.txt

others/script/scel2txt/out/*
others/script/scel2txt/scel/*
cn_dicts/temp.txt

*private*

rime_console
rime_deployer
rime_patch

*.zip
